.imgContainer{
    text-align: center;

}
img{
    width: 80%;
}
@media (min-width:1000px) {
    img{
        width: 60%;
    }
}
@media (min-width:2000px) {
    img{
        width: 40%;
    }
}
.addBtn{
    transition: all 0.6s;
    position: absolute;
    top: 0;
    right: 0;
}
.addBtn:hover{
    rotate:70deg;
}

.delButton{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background: orange;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.6s;
}
.delButton:hover{
    border:3px solid white;
}