*{
    margin: 0px;
    padding: 0px;
}

nav{
    
    background-color: black;
    height: 8vh;
    margin: 0px;
    display: flex;
    color: #fff;
    z-index: 100;
}
.onScroll{
    backdrop-filter: blur(15px);
    background: rgba(66, 15, 94, 0.2);
}
nav li{
    list-style: none;
}
.nav-details{
    width: 80%;
    margin: auto;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.logo{
    
    display: flex;
    align-items: center;

}
.logo img{
    height: 80%;
    aspect-ratio: 1/1;
    

}
.logo h1{
    font-weight: bold;
    font-family: 'Bree Serif';
}
.anchors{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    align-self: center;
    
}
.anchors a{
    color: white;
    text-decoration: none;
    position: relative;
}
.anchors a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.6s;
    content: "";
    width: 0%;
    
    border:solid white 0px;
}
.anchors a:hover:after{
    border:solid white 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    
    width: 100%;
    border:solid white 1px;
}
.hero{
    background: linear-gradient(to top right,red,orange,red,orange);
    min-height:100vh;
    margin: auto;
    padding:  auto;
    position: relative;
}
.heroSearch{
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(178, 101, 255);
    width: 80%;
    border: white 2px solid;
    margin: auto;
    height:40vh;
}
.heroSearch h1{
    text-align: center;
    font-size: 2.5rem;
}
.search{
    width: 50%;
    margin:50px auto;
}
#search{
    height: 50px;
    width: 100%;
    border-radius: 12px;
    font-size: 2rem;
    
    color: black;
}
.searchPara{
    margin: 25px auto;
    font-size: 1.9rem;
}
.categorySelect{
    display: flex;
    gap: 15px;
    padding: 15px;
}
.hero > div{
    width: 80%;
    border: solid 1px white;
    margin: 15px auto;
    border-radius: 12px;
    
}
.displayGrid{
    margin: 50px auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* padding: 30px; */
    width: 90%;
   
    
}
@media  (max-width:900px) {
    .displayGrid{
        grid-template-columns: repeat(2,1fr);

    }

}
@media  (max-width:600px) {
    .displayGrid{
        grid-template-columns: repeat(1,1fr);

    }
}

.gridItem{
    
    background:rgba(255, 0, 0, 0.715);
    width: 100%;
    border: solid rgb(34, 0, 47);
    box-shadow: 8px 8px 0px black;
    margin: auto;
    backdrop-filter: blur(16px);
    /* aspect-ratio: 2/3; */
    padding:50px 0px;
    transition: all 0.6s;
    border-radius: 16px;

}
.add{
    transform: translateY(-5%);
    z-index: 9;
}
/* .gridItem:hover{
    scale: 1.1;
} */
.sideCart{
    position: fixed;
    /* top: 30%; */
    top: 6%;
    right: -1%;
    transform: translateX(90%);
    display: flex;
    transition: all 0.6s;
    z-index: 99;
}
.initial{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    height: 100vh;
    cursor: pointer;
    z-index: 99;
}
.side{
    transform: translateX(0%);
    z-index: 99;
}
.displayCarty{
    height: 100vh;
    width: 100%;

    backdrop-filter: blur(15px);
    overflow-y: scroll;
}
/* .alert{
    position: absolute;

    
    z-index: 999;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
   width: 50%;
   left: 25%;
   background: purple;
   
}
.onadd{
    transition: all 0.6s;
   transform: translateY(-150%);
   animation: alert 1s 1s ease-in-out alternate;
} */
@keyframes alert {
    to{
        transform: translateY(0%);  
    }
    
}