<div class="">
  <div class="">
    
  <nav [ngClass]="scrolled? 'onScroll':''">
    <div class="nav-details">
      <div class="logo">
        <img src="https://imgs.search.brave.com/4NZpKxvbnzI-GIW7Wp_VZGUvm_Qz7qIWzQXp8MZLmcY/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvQW1hem9u/LUxvZ28tUE5HLUlt/YWdlLnBuZw" alt="">
        <h1><span>Mini Cart Applicatin</span></h1>
      </div>
      <div class="anchors">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">Contact</a></li>
        
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
<!-- <div class="alert" >
  <h1>Hello </h1>
</div> -->
<div class="hero">

  <div class="sideCart" [ngClass]="side ? 'side':''">
<div (click)="side=!side" class="initial">
  <span *ngIf="side">Close Cart</span>
  <span *ngIf="!side">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
  </span>
</div>
    
    <div class="displayCarty">
      <h1 style="font-size: 5rem;text-align: center;margin: 50% auto;" *ngIf="cart.cartList.length===0">Empty</h1>
      <div class="displayGrid">
        <app-display-cart appCustum [cartItem]="item" class="gridItem" *ngFor="let item of cart.cartList">
          
        </app-display-cart>
      </div>
    </div>
  </div>
  <br><br><br>
    <div class="heroSearch">
      <h1>Catalog Angular Project</h1>
      <div class="search">
        <h3 for="search">
          Search Product :
        </h3>
        <input (input)="filterWritten()" (focus)="change()" [(ngModel)]="search" type="text" id="search">
        <p class="searchPara">Searching results for <span style="color:rgb(2, 28, 35);">{{search!==""?search:"nothing"}}</span></p>
      </div>
    </div>
    <div class="display">
      <div class="categorySelect">
        <div class="">
          <input (change)="filterProducts()" value="All" [(ngModel)]="selectedCategory" type="radio" name="category" id="All">
          <label for="All">All</label>
        </div>
        <div class="">
          <input (change)="filterProducts()" value="In Stock" [(ngModel)]="selectedCategory" type="radio" name="category" id="InStock">
          <label for="InStock">In Stock</label>
        </div>
        <div class="">
          <input (change)="filterProducts()" value="Low Stock" [(ngModel)]="selectedCategory" type="radio" name="category" id="LowStock">
          <label for="LowStock">Low Stock</label>
        </div>
      </div>
      <h1 style="text-align: center;">Displaying Products for <span>{{selectedCategory}}</span></h1>
      <div class="displayGrid">
        <app-display-products appCustum [itemData]="item" class="gridItem" *ngFor="let item of data">
          
        </app-display-products>
      </div>

    </div>
</div>